@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap'); 

*{    
    margin:0; padding: 0;
    box-sizing: border-box;
    list-style: none; 
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
a{text-decoration: none; }
/*---------------footer시작-----------------*/
footer{
	position: relative;
	top: 0; left: 0;
	min-width:1280px; height: 300px;
/*	outline: 1px solid blue;*/
	background: black;
}	

footer>ul{
    position: absolute;
	top:25px; left: 50%;
    width:1280px; height: 250px;
    /* border: 1px solid white; */
	transform: translateX(-50%);
    background: black;

}	

footer ul li{
    position: relative;
/*    outline: 1px solid white;*/
    color:white;
    font-family: 'Nanum Gothic', sans-serif;
}

footer>ul>a{
    width: 30%; height: 50px;
    font-size: 40px; line-height: 50px;
    font-family: 'Archivo Black', sans-serif;
    color: white;
}

footer>ul>li:nth-child(2){
    width: 30%; height: 190px;
    padding: 20px 0px;
    font-size: 12px;
    line-height: 25px;
}
footer>ul>li:nth-child(3){
    top:-240px; left:30%;
    width: 70%; height: 50px;
    font-size: 13px;
}

footer>ul>li:nth-child(3)>input{
    width: 80%; height: 30px;
    margin : 10px auto;
    text-indent: 50px;
    font-family: 'Nanum Gothic', sans-serif;
	cursor: pointer;
}

footer>ul>li:nth-child(3)>p{
    position: relative;
	top:-50px;left:80%;
    width: 20%; height: 30px;
    margin : 10px 0;
    border: 1px solid white;
    background: black; color:white;
    text-align: center; line-height: 30px;
    cursor: pointer;
}

footer>ul>li:nth-child(4){
    top:-240px; left:30%;
    width: 70%; height: 110px;
    padding-top: 15px;
    font-size: 18px; line-height: 30px;
    
	
}
footer>ul>li:nth-child(4)>#preview{
    
	cursor: pointer;
    animation: previewAni 1s infinite;
}

@keyframes previewAni{
    0% {color:white; font-size: 16px;}
    50% {color: yellow; font-size: 16.5px;}
    100% {color:white; font-size: 16px;}
}

footer>ul>li:nth-child(5){
    top:-240px; left:30%;
    width: 70%; height: 80px;
    font-size: 12px; line-height: 20px;
	
}
