@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap'); /*25 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap'); 
*{    
    margin:0; padding: 0;
    box-sizing: border-box;
    list-style: none;  
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
a{text-decoration: none;}
/*---------start----------------*/
header{
	position: fixed;
	top:0; left: 0;
    
    z-index: 100;
	width: 100%; height: 90px;
	background: black;
    padding-top: 10px;
}
header .wrap{
    max-width: 1280px; height: 70px;
    margin: 0 auto;
    /* outline: 1px solid white; */
}
/*상단-로고*/
.wrap #logo_home{
    float: left;
    margin-left: 30px; line-height: 70px;
    font-size:34px; color: white;
    font-family: 'Archivo Black', sans-serif;
}
.wrap div:nth-child(2){
	width: 60px; height: 100%;
	margin-left: 1200px;
}
.wrap div:nth-child(2) a{
	display: block;
	width: 100%; height: 100%;
}

.wrap div:nth-child(2) a img{
	width: 100%; height: 100%;
} 


/* top버튼 */
/* top버튼 */
.topBtn{
    position: fixed;
    bottom:100px; left: 50%;
    transform: translateX(-50%);
    min-width: 1400px; height: 50px;
}

.topBtn i{
    position: relative;
    top:0; left: 1350px;
    width: 50px; height: 50px;
    font-size: 50px;
    color:#8161AB; cursor: pointer;
}

/*메뉴 띄울 박스*/
#main2{
    position: fixed;
    top:0; left: 50%;
/*    border: 1px solid red;*/
    width: 1280px; height: 800px;
    transform: translateX(-50%);
    display: none;
}
/*-------section시작-------*/
section{ 
    position: relative;
    top:90px; left:0;
    width: 1280px;   
/*    outline: 1px solid black ;*/
    margin: 0 auto;
}
/*----------좌측공간 at1시작---------*/
.at1{
    position: relative;
    top:0; left: 0;
	z-index: -99;
    width: 640px; height: 3600px;
    background: #f2f2f2;
/*    outline:1px solid red;*/

}
/*좌측-메뉴 타이틀 고정*/
.at1>ul{
    position: fixed;
    top:400px; 
    width: 640px; height: 200px;
/*    outline: 1px solid black;*/
    
}
.at1>ul>li{
    padding-left: 30px;
/*    border: 1px solid black;*/
}

.at1>ul>li:nth-child(1){
    height: 40px; font-size: 20px;
}
.at1>ul>li:nth-child(2){
    height: 160px; font-size: 35px;
    line-height: 40px;
}

/*----------우측공간 at2시작---------*/
.at2{
    position: absolute;
    top:0; left: 50%;
    
    width: 640px; 
    overflow: hidden;
   /* border:1px solid blue; */
   background: white;
}

/*맨 처음 같이 있는 사진*/
.at2>.at2_img1{
    width: 100%; height: 600px;
    background: url(../img/history/together_img.jpg);
    background-size: 100% 100%; 
}

/*텍스트들*/
.at2>.at2_text1{
    position: relative;
    top:0; left: 0%;
    width: 100%; height: 230px;
/*    border: 1px solid red;*/
    margin: 30px 0; padding: 30px; 
    text-align: center; line-height: 35px;
    transition: 2s;
}

/*사진 슬라이드 공간*/
.at2 .at2_img2{
    position: relative;
    top:0; left: 0;
    width: 100%; height: 750px;
    background:black; 
    overflow: hidden;
}
.at2 .right_btn{
    position: relative;
    top:10px; left: 580px;
    z-index: 100;
    width: 50px; height: 50px;
    color: white; font-size: 40px;
    text-align: center; line-height: 50px;
    cursor: pointer;
}

.at2 .at2_img2 #at2_slide{
    position: absolute;
    top:0; left: 0;
    width: 500%; height: 100%;
/*    border: 1px solid blue;*/
    
}
.at2 .at2_img2 #at2_slide li{
    float: left;
    width: 20%; height: 100%;
    
}
.at2 .at2_img2 #at2_slide li div{
    position: relative;
    top:0; left: 0;
    width: 520px; height: 550px;
    margin: 45px;
}

.at2 .at2_img2 #at2_slide li h1{
    position: relative;
    top:-110px; left: 45px;
    width: 520px; height: 100px;
    font-size: 50px; line-height: 100px;
    color: white; font-size: 60px;
/*    border: 1px solid blue;*/
}

.at2 .at2_img2 #at2_slide li p{
    position: relative;
    top:-110px; left: 45px;
    width: 520px; height: 50px;
    color:white;
    line-height: 50px;
/*    border: 1px solid blue;*/
}/*슬라이드 끝*/

/* 슬라이드 클릭 알림창 */
.at2 .at2_msg{
    position: relative;
    top:0; right:-53%;
    width: 310px; height: 50px;
    color: #8161AB;
    text-align: center; line-height: 50px;
    animation: at2_msg_ani 0.8s linear 0s infinite;
}

@keyframes at2_msg_ani {
    0% {right:-53%;}
    100% {right:-50%;}
}


/*텍스트 덩어리가 들어갈 박스*/
.at2>.at2_text2{
    margin-top: 30px;
    width: 100%; height: 560px;
/*    하단 20px 남음*/
/*    border: 1px solid red;*/
}
.at2>.at2_text2>p{
    position: relative;
    top:0; left: 0;
    width: 100%; height: 200px;
/*    border: 1px solid red;*/
    padding: 30px;
    line-height: 35px;
    transition: 2s;
}
.at2>.at2_text2>p:nth-child(2){
	height: 160px;
}
/*숫자 카운트*/
.at2>.at2_count{
	width: 100%; height: 550px;
/*	border: 1px solid black;*/
	background: url(../img/history/count_bg1.jpg) no-repeat center center;
	background-size: 90% 100%;
	
}
.at2>.at2_count>ul{
	width: 100%; height: 100%;
/*	border: 1px solid black;*/
}
.at2>.at2_count>ul>li{
	width: 100%; height: 50%;
}
/*25*/
.at2>.at2_count>ul>li:nth-child(1)>p:nth-child(1){
	position: relative;
	top:40px; left: 100px;
	width: 300px; height: 200px;
/*	border: 1px solid blue;*/
	font-size: 230px;
	text-align: center; line-height: 200px;
	font-family: 'Londrina Outline', cursive;
    font-weight: normal;
}
/*67%*/
.at2>.at2_count>ul>li:nth-child(2)>p:nth-child(1){
	position: relative;
	top:50px; left: 50px;
	width: 200px; height: 150px;
/*	border: 1px solid blue;*/
	font-size: 90px;
	text-align: center; line-height: 150px;
}
/*years of lush*/
.at2>.at2_count>ul>li:nth-child(1)>p:nth-child(2){
	position: relative;
	top:0px; left: 35%;
	width: 60%; height: 80px;
	text-align: center; line-height: 80px;
	font-size: 45px; 
/*	border: 1px solid blue;*/
}
/*INGREDIENTS SOURCED DIRECTLY*/
.at2>.at2_count>ul>li:nth-child(2)>p:nth-child(2){
	position: relative;
	top:10px; left: 50px;
	width: 80%; height: 80px;
	line-height: 80px;
	font-size: 20px; color:#378637;
/*	border: 1px solid blue;*/
}

/*마지막 이미지*/
.at2>.at2_img3{
    margin-top: 50px;
    margin-left:5%;
    width: 90%; height: 300px;
/*    border: 1px solid blue;*/
    background: url(../img/history/showcase.jpg) no-repeat; 
    background-size: 100% 100%;
}



/*div-at3 시작 - 하단 이미지*/
.at3{
    background: #f2f2f2;
    min-width: 1280px;
    height: 100px;
}
.at3>#footer_img{
/*    border: 1px solid red;*/
    width: 1280px; height: 100px;
    margin: 0 auto;
    background: url(../img/main/footer.svg);
    background-size: 100% 100%;
}
/*---------------footer시작-----------------*/



